// ***********************************************************
//  themes/_error.scss
// 	Date: 2014-00-00(+09:00)
//  Author: ad
// ***********************************************************
%base-error {
  width: 100%;
  background: $BASE_BG_COLOR;
  .inner {
    @include fontsize(14);
    padding: 0 10px;
    text-align: center;
    font-weight: bold;
  }
}

.error-js {
  @extend %base-error;
}

.error-browser {
  @extend %base-error;
}
