// ***********************************************************
//  themes/_state.scss
// 	Date: 2014-00-00(+09:00)
//  Author: ad
// ***********************************************************

// JS
// ***********************************************************
.is-hide {
  display: none !important;
}

.is-show {
  display: block !important;
}

.is-static {
  position: static !important;
}

.is-fixed {
  position: fixed !important;
}

.is-absolute {
  position: absolute !important;
}

.is-visible {
  visibility: visible !important;
}

.is-hidden {
  visibility: hidden !important;
}

.is-overflow-hidden {
  overflow: hidden !important;
}
