// ***********************************************************
// 	base/_animation.scss
// 	Date: 2014-07-01(+09:00)
//  Author: ad
// ***********************************************************

// common
// ***********************************************************
.topIn {
  @include setAnimation($name: topIn);
}

.bottomIn {
  @include setAnimation($name: bottomIn);
}

.leftIn {
  @include setAnimation($name: leftIn);
}

.rightIn {
  @include setAnimation($name: rightIn);
}

.moveTopBottom {
  @include setAnimation($name: moveTopBottom);
}

.moveTopBottom {
  @include setAnimation($name: moveTopBottom);
}

.moveLeftRight {
  @include setAnimation($name: moveLeftRight);
}

.moveRightLeft {
  @include setAnimation($name: moveRightLeft);
}

.rubberBand {
  @include setAnimation($name: rubberBand);
}

.bounce {
  @include setAnimation($name: bounce, $count: 1);
  @include transform-origin(center bottom);
}

.bounceIn {
  @include setAnimation($name: bounceIn);
}

.bounceInUp {
  @include setAnimation($name: bounceInUp, $duration: 1s, $easing: $ease-out-quad, $count: 1);
}

.bounceInDown {
  @include setAnimation($name: bounceInDown);
}

.bounceInLeft {
  @include setAnimation($name: bounceInLeft);
}

.bounceInRight {
  @include setAnimation($name: bounceInRight);
}

.bounceOut {
  @include setAnimation($name: bounceOut);
}

.bounceOutUp {
  @include setAnimation($name: bounceOutUp);
}

.bounceOutDown {
  @include setAnimation($name: bounceOutDown);
}

.bounceOutLeft {
  @include setAnimation($name: bounceOutLeft);
}

.bounceOutRight {
  @include setAnimation($name: bounceOutRight);
}

.fadeIn {
  @include setAnimation($name: fadeIn, $duration: 0.6s, $easing: $ease-out-quad, $count: 1);
  display: block;
}

.fadeInUp {
  @include setAnimation($name: fadeInUp);
}

.fadeInDown {
  @include setAnimation($name: fadeInDown);
}

.fadeInLeft {
  @include setAnimation($name: fadeInLeft);
}

.fadeInRight {
  @include setAnimation($name: fadeInRight);
}

.fadeOut {
  @include setAnimation($name: fadeOut, $duration: 0.6s, $easing: $ease-out-cubic, $count: 1);
  @include opacity(0);
  display: none;
}

.fadeOutUp {
  @include setAnimation($name: fadeOutUp);
}

.fadeOutDown {
  @include setAnimation($name: fadeOutDown);
}

.fadeOutLeft {
  @include setAnimation($name: fadeOutLeft);
}

.fadeOutRight {
  @include setAnimation($name: fadeOutRight);
}

.swing {
  @include setAnimation($name: swing, $duration: 5s);
}

.shake {
  @include setAnimation($name: shake);
}

.flip {
  @include setAnimation($name: flip);
}

.flipInX {
  @include setAnimation($name: flipInX);
}

.flipInY {
  @include setAnimation($name: flipInY);
}

.flipOutX {
  @include setAnimation($name: flipOutX);
}

.flipOutY {
  @include setAnimation($name: flipOutY);
}

.scaleMax {
  @include setAnimation($name: scaleMax);
}

.scaleMin {
  @include setAnimation($name: scaleMin);
}

.scaleMaxX {
  @include setAnimation($name: scaleMaxX);
}

.scaleMinX {
  @include setAnimation($name: scaleMinX);
}

.scaleMaxY {
  @include setAnimation($name: scaleMaxY);
}

.scaleMinY {
  @include setAnimation($name: scaleMinY);
}

.rotateL {
  @include setAnimation($name: rotateL, $duration: 3s, $easing: linear);
}

.rotateR {
  @include setAnimation($name: rotateR, $duration: 3s, $easing: linear);
}



