// ***********************************************************
// 	base/_mediaquery.scss
// 	Date: 2014-07-01(+09:00)
//  Author: ad
// ***********************************************************

// media query
// *************************************************
@mixin media($mediaSize) {
  @if $mediaSize == tb {
    // タブレット用
    @media screen and (max-width: $BREAK_POINT_TABLET) {
      @content;
    }
  } @else if  $mediaSize == sp {
    // SP用
    @media screen and (max-width: $BREAK_POINT_SP) {
      @content;
    }
  } @else if  $mediaSize == landscape {
    @media only screen and (orientation: landscape) {
      @content;
    }
  }
}