// ***********************************************************
// 	layout/_structure.scss
// 	Date: 2014-00-00(+09:00)
//  Author: ad
// ***********************************************************
//* {
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}

html {
  //font-size: 62.5%;
  @include fontrem(13);
  height: 100%;
  background: $BASE_BG_COLOR;
}

body {
  //@include fontsize($BASE_FONT_SIZE);
  background: $BASE_BG_COLOR;
  color: $BASE_TEXT_COLOR;
  font-family: $BASE_FONT_FAMILY;
  line-height: $BASE_LINE_HEIGHT;
}

a:link {
  color: $BASE_LINK_COLOR;
  text-decoration: none;
}

a:visited {
  color: $BASE_VISITED_COLOR;
  text-decoration: none;
}

a:hover {
  color: $BASE_HOVER_COLOR;
  text-decoration: underline;
}

a:active {
  color: $BASE_ACTIVE_COLOR;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}


