@charset "UTF-8";
// ***********************************************************
//  style.scss
// 	Date: 2014-07-04(+09:00)
//  Author: ad
// ***********************************************************
// Modules and Variables
@import "helpers/variables";
@import "helpers/libs/css3/animation";
// Base
@import "base/reset";
@import "base/mediaquery";
@import "base/structure";
// Themes
@import "themes/state";
@import "themes/error";
// Layout
@import "layout/header";
@import "layout/contents";
@import "layout/footer";
// Components
@import "components/navigation";
@import "components/button";
@import "components/table";

html {
  background: #000;
  padding: 10px;
}

