// ***********************************************************
//  libs/compass/_replace-image.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  @include replaceImg('image path', false, false, false, false);
// ***********************************************************

@mixin replaceImg($imgpath, $flagSP, $flagBtn, $flagHeight, $flagIndent) {
  background-image: url(#{$imgpath});
  background-position: center top;
  background-repeat: no-repeat;
  @if $flagHeight == true {
    display: block;
    overflow: hidden;
    width: image-width($imgpath);
    height: image-height($imgpath);
  }
  @if $flagIndent == true {
    text-indent: -99999px;
  }
  @if $flagSP == true {
    width: image-width(#{$imgpath})/2;
    height: image-height(#{$imgpath})/2;
    background-size: image-width(#{$imgpath})/2 image-height(#{$imgpath})/2;
  } @else {
    @if $flagBtn == true {
      height: image-height(#{$imgpath})/2;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      &:hover {
        background-position: center bottom;
      }
    }
  }
}

@mixin replaceImgTtl($imgpath) {
  display: block;
  overflow: hidden;
  width: image-width($imgpath);
  height: image-height($imgpath);
  background-image: url(#{$imgpath});
  background-position: center top;
  background-repeat: no-repeat;
  text-indent: -99999px;
}