// ***********************************************************
//  libs/compass/_sprite-image.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  @include btnSprite($SPRITE_VALUE_NAME, btn_facebook_off, btn_facebook_on, pc);
// ***********************************************************
@mixin btnSprite($sprite, $off, $on, $type) {
  @if $type == pc {
    a, span {
      @include spriteImage($sprite, $off);
      &:hover {
        @include spriteImageHover($sprite, $on);
      }
    }
  } @else {
    a {
      @include spriteImgRetina($sprite, $off);
    }
  }
}

@mixin spriteImage($map, $fileName) {
  background-image: $map;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  width: round(image-width(sprite-file($map, $fileName)));
  height: round(image-height(sprite-file($map, $fileName)));
  background-position: sprite-position($map, $fileName);
  text-indent: -999999px;
}

@mixin spriteImageHover($map, $fileName) {
  background-position: sprite-position($map, $fileName);
}

@mixin spriteImgRetina($map, $fileName) {
  background-image: $map;
  $ypos: round(nth(sprite-position($map, $fileName), 2) / 2);
  display: block;
  overflow: hidden;
  width: image-width(sprite-file($map, $fileName)) / 2;
  height: image-height(sprite-file($map, $fileName)) / 2;
  background-position: 0 $ypos;
  background-repeat: no-repeat;
  text-indent: -99999px;
}