/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$sample_1-x: 0px;
$sample_1-y: 0px;
$sample_1-offset-x: 0px;
$sample_1-offset-y: 0px;
$sample_1-width: 50px;
$sample_1-height: 50px;
$sample_1-total-width: 50px;
$sample_1-total-height: 100px;
$sample_1-image: '../images/sprite_sample.png';
$sample_1: 0px 0px 0px 0px 50px 50px 50px 100px '../images/sprite_sample.png';
$sample_2-x: 0px;
$sample_2-y: 50px;
$sample_2-offset-x: 0px;
$sample_2-offset-y: -50px;
$sample_2-width: 50px;
$sample_2-height: 50px;
$sample_2-total-width: 50px;
$sample_2-total-height: 100px;
$sample_2-image: '../images/sprite_sample.png';
$sample_2: 0px 50px 0px -50px 50px 50px 50px 100px '../images/sprite_sample.png';

