// ***********************************************************
//  libs/addons/_ad.scss
//  Date: 2014-05-01(+09:00)
//  Reference:http://sassmeister.com/gist/6994632
// ***********************************************************
//Element用のミックスイン  親要素のクラス名を継承してデリミターとして"__"を付与
@mixin e($name) {
  @at-root &__#{$name} {
    @content;
  }
}

//Modifier用のミックスイン  親要素のクラス名を継承してデリミターとして"--"を付与
@mixin m($name) {
  @at-root #{selector-append(&--#{$name})}{
    @content;
  }
}

// 親要素の名前を取得
@mixin p($name) {
  @at-root #{selector-append(&-#{$name})}{
    @content;
  }
}