// ***********************************************************
//  libs/addons/_clearfix.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  @include clearfix;
// ***********************************************************
@mixin clearfix {
  zoom: 1;
  &:after {
    display: table;
    clear: both;
    content: "";
  }
  &:before {
    display: table;
    content: "";
  }
}
