// ***********************************************************
//  libs/addons/_display-table.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  @include displayTable(middle);
// ***********************************************************
@mixin displayTable($value: middle) {
  display: table-cell;
  vertical-align: $value;
}