// ***********************************************************
//  libs/addons/_fontsize.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  @include fontsize(24);
// ***********************************************************
@mixin fontsize($size) {
  font-size: $size * 1px;
  font-size: ($size / 10) * 1rem;
}

@mixin fontrem($size) {
  font-size: $size * 1px;
  font-size: ($size / $BASE_FONT_SIZE) * 1rem;
}
