// ***********************************************************
//  libs/addons/_grid.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  @include gridUnit(2);
// ***********************************************************
$COLUMN_WIDTH: 60px;
// 12 columns = 720px
$GUTTER_WIDTH: 60px;
// 11 gutters = 220px
@mixin gridUnit($span) {
  margin-right: $GUTTER_WIDTH;
  width: ($COLUMN_WIDTH * $span) + ($GUTTER_WIDTH * ($span - 1));
}