// ***********************************************************
//  libs/addons/_opacity.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  @include opacity(.7);
// ***********************************************************
@mixin opacity($opacity) {
     $opacityIE: $opacity * 100;
     opacity: $opacity;
     filter: alpha(opacity=$opacityIE);
}

