// ***********************************************************
//  libs/addons/_position-centering.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  @include borderDouble($lineHeadColorA, $lineHeadColorB);
// ***********************************************************
@mixin posCenter($type:basePos) {
  position: absolute;
  @if $type == basePos {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  } @else if $type == center {
    right: 0;
    left: 0;
    margin: 0 auto;
  } @else if $type == middle {
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}