// ***********************************************************
//  libs/addons/_text-indet.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  @include txtIndent;
// ***********************************************************
@mixin txtIndent() {
  overflow: hidden;
  text-indent: 100%;
  white-space:nowrap;
}
