@mixin reset {

html { font-size: 62.5%; }
body {
    font-size: 12px;
    font-size: 1.2rem;
    font-family: "メイリオ", "Meiryo", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "Osaka", "ＭＳ Ｐゴシック", sans-serif;
    line-height: 1.6rem;
}
pre, code, kbd, samp, tt {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: monospace;
    line-height: 1;
}
body, div, h1, h2, h3, h4, h5, h6, form, ul, li, ol, dl, dt, dd, fieldset, pre, code, legend, blockquote {
    margin: 0;
    padding: 0;
}
p { margin: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
li { list-style: none; }
img { border: none; }
input, textarea, select { font-size: 100%; }
legend { display: none; }
fieldset { border: none; }
button {
    overflow: visible;
    margin: 0;
    padding: 0;
    width: auto;
    border: 0;
    background: none;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
    font: 100%;
    font-size: inherit;
}
caption { text-align: left; }
th {
    text-align: left;
    font-weight: normal;
}
td { text-align: left; }
q:before, q:after { content: ''; }
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
.skipNav {
    position : absolute;
    left : -999px;
    width : 999px;
}
hr.divider { display: none; }
* {
  @include box-sizing(border-box);
}
}
