// ***********************************************************
//  modules/config/_compass.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
// ***********************************************************
@import "compass/css3/shared";

// ***********************************************************
// Compass reset
// ***********************************************************
// support
@mixin experimental($property, $value, $moz: $experimental-support-for-mozilla, $webkit: $experimental-support-for-webkit, $o: $experimental-support-for-opera, $ms: $experimental-support-for-microsoft, $khtml: $experimental-support-for-khtml, $official: true) {
  @if $webkit and $experimental-support-for-webkit {
    -webkit-#{$property}: $value;
  }
  @if $moz and $experimental-support-for-mozilla {
    -moz-#{$property}: $value;
  }
  @if $o and $experimental-support-for-opera {
    -o-#{$property}: $value;
  }
  @if $ms and $experimental-support-for-microsoft {
    -ms-#{$property}: $value;
  }
  @if $khtml and $experimental-support-for-khtml {
    -khtml-#{$property}: $value;
  }
  @if $official {
    #{$property}: $value;
  }
}

@mixin experimental-value($property, $value, $moz: $experimental-support-for-mozilla, $webkit: $experimental-support-for-webkit, $o: $experimental-support-for-opera, $ms: $experimental-support-for-microsoft, $khtml: $experimental-support-for-khtml, $official: true) {
  @if $webkit and $experimental-support-for-webkit {
    #{$property}: -webkit-#{$value};
  }
  @if $moz and $experimental-support-for-mozilla {
    #{$property}: -moz-#{$value};
  }
  @if $o and $experimental-support-for-opera {
    #{$property}: -o-#{$value};
  }
  @if $ms and $experimental-support-for-microsoft {
    #{$property}: -ms-#{$value};
  }
  @if $khtml and $experimental-support-for-khtml {
    #{$property}: -khtml-#{$value};
  }
  @if $official {
    #{$property}: #{$value};
  }
}

//ie9 svg
$experimental-support-for-svg: false;

// Prefix
$experimental-support-for-opera: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-microsoft: false;


