// ***********************************************************
//  libs/functions/_bem-name.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  $className: bemName($parentClassName, className);
// ***********************************************************
@function bemName($parentClassName, $className, $type: e) {
  $class: '.';
  $element: '__';
  $modifier: '--';
  @if $type == e {
    @return #{$class}#{$parentClassName}#{$element}#{$className};
  } @else {
    @return #{$class}#{$parentClassName}#{$modifier}#{$className};
  }
}


