// ***********************************************************
//  libs/compass/_font-set.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
// ***********************************************************
$fontSizeList: 62%, 70%, 77%, 85%, 93%, 100%, 108%, 116%, 123%, 129%, 136%, 147%, 152%, 159%, 167%, 174%, 182%, 189%, 197%, 204%, 211%, 218%, 218%, 232%, 239%, 246%, 253%, 260%, 267%, 274%, 281%, 288%, 295%;

@function fz($size) {
  @return nth($fontSizeList, $size - 7);
  @if $size < 8 {
    $size: 8;
  }
  @if $size > 40 {
    $size: 40;
  }
}

@function fs($size, $context, $unit: em) {
  @if $unit == '%' {
    @return #{$size/$context*100}#{$unit};
  } @else {
    @return #{$size/$context}#{$unit};
  }
}
