// ***********************************************************
//  libs/compass/get-ratio.scss
//  Date: 2014-05-01(+09:00)
//  Authour: ad
//  $className: bemName($parentClassName, className);
// ***********************************************************
@function getRatio($value, $type: width) {
  @if $type == width {
    @return unquote(($value / $DESIGN_WIDTH) * 100 + '%');
  } @else {
    @return unquote(($value / $DESIGN_HEIGHT) * 100 + '%');
  }
}

@function getRatioHref($value, $type: width) {
  @if $type == width {
    @return unquote(($value / $DESIGN_WIDTH) * 50 + '%');
  } @else {
    @return unquote(($value / $DESIGN_HEIGHT) * 50 + '%');
  }
}

@function getRationValue($value) {
  @return unquote(($value / $DESIGN_WIDTH) * 100);
}

@function getRem($value) {
  @return unquote($value * 0.625 + 'rem');
}

@function getPercent($value) {
  @return unquote(($value / $DESIGN_WIDTH) * 100 + '%');
}